# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de distribución
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Otros
*.sqlite3